{
    "swagger": "2.0",
    "info": {
        "title": "Fitbit Web API Explorer",
        "description": "Fitbit provides a Web API for accessing data from Fitbit activity trackers, Aria scale, and manually entered logs. Anyone can develop an application to access and modify a Fitbit user's data on their behalf, so long as it complies with Fitbit Platform Terms of Service. These Swagger UI docs do not currently support making Fitbit API requests directly. In order to make a request, construct a request for the appropriate endpoint using this documentation, and then add an Authorization header to each request with an access token obtained using the steps outlined here: https://dev.fitbit.com/build/reference/web-api/developer-guide/authorization/.",
        "version": "1",
        "termsOfService": "https://dev.fitbit.com/legal/platform-terms-of-service/",
        "contact": {
            "name": "Web API Support",
            "url": "https://dev.fitbit.com/build/reference/web-api/help/"
        }
    },
    "host": "api.fitbit.com",
    "tags": [
        {
            "name": "Active Zone Minutes Intraday Time Series",
            "description": "The Active Zone Minutes (AZM) Intraday Time Series endpoints retrieve the user's heart-pumping activity for a specific date or 24 hour period. Intraday support can extend the detail-level response to include 1min, 5min and 15min for Active Zone Minutes.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Active Zone Minutes Time Series",
            "description": "The Active Zone Minutes (AZM) Time Series endpoints are used for querying the user's heart-pumping activity throughout the day. ",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/active-zone-minutes-timeseries/"
            }
        },
        {
            "name": "Activity",
            "description": "The Activity endpoints are used to query and/or modify a Fitbit user's daily activity data. ",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity/"
            }
        },
        {
            "name": "Activity Intraday Time Series",
            "description": "The Activity Intraday Time Series endpoints retrieve the data for a given resource on a specific date or 24 hour period.  Intraday support can extend the detail-level response to include 1min, 5min and 15min for the activity.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Activity Time Series",
            "description": "The Activity Time Series endpoints are used to query a Fitbit user's activity data over a period of time, either by specifying a date and time period, or a date range.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/activity-timeseries/"
            }
        },
        {
            "name": "Authorization",
            "description": "The Authorization endpoints allow an application to onboard Fitbit users who want to share their data with the specified application. The application can initiate the consent flow for new users, obtain the access token and refresh tokens, validate the tokens, and revoke consent to the user.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/authorization/"
            }
        },
        {
            "name": "Body",
            "description": "The Body endpoints are used for querying and modifying the user's body fat and weight data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/body/"
            }
        },
        {
            "name": "Body Time Series",
            "description": "The Body Time Series endpoints are used for querying body fat and weight data over a period of time either by specifying a date and time period, or a date range.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/body-timeseries/"
            }
        },
        {
            "name": "Breathing Rate",
            "description": "Breathing Rate or Respiratory Rate is a measurement of your average breaths per minute at night.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/breathing-rate/"
            }
        },
        {
            "name": "Breathing Rate Intraday",
            "description": "The Breathing Rate Intraday endpoint returns the  average breathing rate throughout the day and categories your breathing rate by sleep stage.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Cardio Fitness Score (VO2 Max)",
            "description": "The Cardio Fitness Score (also known as VO2 Max) endpoints are used for querying the maximum or optimum rate at which the user’s heart, lungs, and muscles can effectively use oxygen during exercise.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/cardio-fitness-score/"
            }
        },
       {
            "name": "Devices",
            "description": "The Devices endpoints displays information about the devices paired to a user's account.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/devices/"
            }
        },
        {
            "name": "Electrocardiogram",
            "description": "The Electrocardiogram (also known as ECG) endpoint is used for querying the user's on-device ECG readings.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/electrocardiogram/"
            }
        },
        {
            "name": "Friends",
            "description": "The Friends endpoints display information about the specified user's friends and the friend's leaderboard.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/friends/"
            }
        },
        {
            "name": "Heart Rate Intraday Time Series",
            "description": "The Heart Rate Intraday Time Series retrieves the heart rate data on a specific date or 24 hour period. Intraday support can extend the detail-level response to include 1sec, 1min, 5min or 15min for Heart Rate.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Heart Rate Time Series",
            "description": "The Heart Rate Time Series endpoints are used for querying the user's heart rate data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/heartrate-timeseries/"
            }
        },
        {
            "name": "Heart Rate Variability",
            "description": "The Heart Rate Variability (HRV) endpoints are used for querying the user’s heart rate variability data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/heartrate-variability/"
            }
        },
        {
            "name": "Heart Rate Variability Intraday",
            "description": "The Heart Rate Variability Intraday endpoint returns the HRV rate at various times and returns Root Mean Square of Successive Differences (rmssd), Low Frequency (LF), High Frequency (HF), and Coverage data for a given measurement.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
          "name": "Irregular Rhythm Notifications",
          "description": "The Irregular Rhythm Notifications (also known as IRN) endpoints are used for querying the user's engagement with the IRN feature and the alerts received. The IRN API is for research use or investigational use only, and is not intended for clinical or diagnostic purposes.",
          "externalDocs": {
              "description": "Full documentation",
              "url": "https://dev.fitbit.com/build/reference/web-api/irregular-rhythm-notifications/"
          }
        },
        {
            "name": "Nutrition",
            "description": "The Nutrition endpoints are used for querying and modifying the food and water data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/nutrition/"
            }
        },
        {
            "name": "Nutrition Time Series",
            "description": "The Nutrition Time Series endpoints are used for querying food- and water-related data over a period of time either by specifying a date and time period, or a date range.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/nutrition-timeseries/"
            }
        },
        {
            "name": "Sleep",
            "description": "The Sleep endpoints are used for querying and modifying the user’s general sleep data.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/sleep/"
            }
        },
        {
            "name": "SpO2",
            "description": "SpO2 (Oxygen Saturation) is a measurement of your blood oxygen level. ",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/spo2/"
            }
        },
        {
            "name": "SpO2 Intraday",
            "description": "The SpO2 Intraday endpoints return the SpO2 values calculated on a 5-minute exponentially-moving average.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/intraday/"
            }
        },
        {
            "name": "Subscriptions",
            "description": "The Subscription endpoints allow an application to request notifications to user's specific data collection.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/subscription/"
            }
        },
        {
            "name": "Temperature",
            "description": "The Temperature endpoints are used for querying either the core temperature data logged manually by the user, or the skin temperature recorded by the device while the user is asleep.",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/temperature/"
            }
        },
        {
            "name": "User",
            "description": "The User endpoints display information about the user's profile information, the regional locale & language settings, and their badges collected",
            "externalDocs": {
                "description": "Full documentation",
                "url": "https://dev.fitbit.com/build/reference/web-api/user/"
            }
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/oauth2/token": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Get OAuth 2 access token",
                "description": "Retrieves an OAuth 2 access token.",
                "operationId": "oauthToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The Authorization header must be set to 'Basic' followed by a space, then the Base64 encoded string of your application's client id and secret concatenated with a colon. For example, 'Basic Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ='. The Base64 encoded string, 'Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ=', is decoded as 'client_id:client secret'.",
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Authorization code received in the redirect as URI parameter. Required if using the Authorization Code flow.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "This is your Fitbit API application id from your settings on dev.fitbit.com.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "expires_in",
                        "in": "query",
                        "description": "Specify the desired access token lifetime. Defaults to 28800 for 8 hours. The other valid value is 3600 for 1 hour.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "grant_type",
                        "in": "query",
                        "description": "Authorization grant type. Valid values are 'authorization_code' and 'refresh_token'.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "redirect_uri",
                        "in": "query",
                        "description": "Uri to which the access token will be sent if the request is successful. Required if specified in the redirect to the authorization page. Must be exact match.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "refresh_token",
                        "in": "query",
                        "description": "Refresh token issued by Fitbit. Required if 'grant_type' is 'refresh_token'.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Required if specified in the redirect uri of the authorization page. Must be an exact match.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    },
                    "401": {
                        "description": "Authentication was unsuccessful due to invalid client credentials."
                    },
                    "409": {
                        "description": "Request conflict due to multiple clients attempting to refresh the same access token."
                    }
                }
            }
        },
        "/1.1/oauth2/introspect": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Retrieve the active state of an OAuth 2.0 token",
                "description": "Retrieves the active state of an OAuth 2.0 token. It follows https://tools.ietf.org/html/rfc7662.",
                "operationId": "introspect",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "OAuth 2.0 token to retrieve the state of",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    },
                    "401": {
                        "description": "Authentication was unsuccessful due to invalid client credentials."
                    },
                    "409": {
                        "description": "Request conflict due to multiple clients"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/oauth2/revoke": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Revokes consent of the access token or refresh token",
                "description": "Revokes consent of the access token or refresh token",
                "operationId": "revoke",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "The access token or refresh token to be revoked",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                    },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satisfied."
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Date",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date and/or time range.",
                "operationId": "getAZMByDateIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Supported:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Date",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date and/or time range.",
                "operationId": "getAZMByDateTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Supported:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/{detail-level}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Interval",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date range and/or time range.",
                "operationId": "getAZMByIntervalIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "start-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Support:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Intraday Time Series"
                ],
                "summary": "Get AZM Intraday by Interval",
                "description": "Returns the active zone minutes intraday data for a 24 hour period by specifying a date range and/or time range.",
                "operationId": "getAZMByIntervalTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "start-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "The detail for which data will be returned. **Support:** 1min | 5min | 15min",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1min",
                            "5min",
                            "15min"
                        ]
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Time Series"
                ],
                "summary": "Get AZM Time Series by Date",
                "description": "Returns the daily summary values over a period of time by specifying a date and time period.",
                "operationId": "getAZMTimeSeriesByDate",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. **Supported:** 1d | 7d | 30d | 1w | 1m | 3m | 6m | 1y",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "1d",
                            "7d",
                            "30d",
                            "1w",
                            "1m",
                            "3m",
                            "6m",
                            "1y"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Active Zone Minutes Time Series"
                ],
                "summary": "Get AZM Time Series by Interval",
                "description": "Returns the daily summary values over an interval by specifying a date range.",
                "operationId": "getAZMTimeSeriesByInterval",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "start-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "403": {
                        "description": "The API client is not authorized by Fitbit to access the resource requested."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/date/{date}.json": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activity Summary by Date ",
                "description": "Retrieves a summary and list of a user's activities and activity log entries for a given day.",
                "operationId": "getActivitiesByDate",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Resource by Date Range",
                "description": "Returns activities time series data in the specified range for a given resource.",
                "operationId": "getActivitiesResourceByDateRange",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "calories",
                          "caloriesBMR",
                          "steps",
                          "distance",
                          "floors",
                          "elevation",
                          "minutesSedentary",
                          "minutesLightlyActive",
                          "minutesFairlyActive",
                          "minutesVeryActive",
                          "activityCalories"
                        ],
                        "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities/tracker/{resource-path}/date/{base-date}/{end-date}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Tracker Resource by Date Range Time Series",
                "description": "Returns time series data in the specified range for a given resource.",
                "operationId": "getActivitiesTrackerResourceByDateRange",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "resource-path",
                        "in": "path",
                        "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                        "required": true,
                        "type": "string",
                        "enum": [
                          "calories",
                          "caloriesBMR",
                          "steps",
                          "distance",
                          "floors",
                          "elevation",
                          "minutesSedentary",
                          "minutesLightlyActive",
                          "minutesFairlyActive",
                          "minutesVeryActive",
                          "activityCalories"
                        ],
                        "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The range start date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The end date of the range.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
{ “swagger”： “2.0”， “info”： { “title”： “Fitbit Web API Explorer”， “description”： “Fitbit 提供了一个用于访问 Fitbit 活动追踪器、Aria Scale 和手动录入日志数据的 Web API。”任何人都可以开发应用程序，代表用户访问和修改 Fitbit 用户的数据，只要符合 Fitbit 平台服务条款。这些 Swagger UI 文档目前不支持直接发送 Fitbit API 请求。为了发起请求，请根据此文档构建对相应端点的请求，然后为每个请求添加一个授权头，访问令牌通过以下步骤获得：https://dev.fitbit.com/build/reference/web-api/developer-guide/authorization/.“， ”version“： ”1“， ”conditionsOfService“： ”https://dev.fitbit.com/legal/platform-terms-of-service/“， ”contact“： { ”name“： ”Web API Support“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/help/“ } }， “host”：“api.fitbit.com”，“标签”：[ { “name”：“活跃区域分钟日内时间序列”，“description”：“活跃区域分钟（AZM）日内时间序列端点获取用户在特定日期或 24 小时内的心跳活动。日内支持可以将详细响应扩展到 1 分钟、5 分钟和 15 分钟的活跃区分钟。“， ”externalDocs“： { ”description“： ”full documentation“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/intraday/“ } }， { ”name“： ”活跃区分钟时间序列“， ”description“： ”活跃区分钟（AZM）时间序列端点用于查询用户全天的心跳活动。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https：开发版 Fitbit。com/build/reference/web-api/active-zone-minutes-timeseries/“ } }， { ”name“： ”活动“， ”description“： ”活动端点用于查询和/或修改 Fitbit 用户的每日活动数据。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/activity/“ }， { ”name“： ”活动日内时间序列“， ”description“： ”活动日内时间序列端点在特定日期或 24 小时获取给定资源的数据就是这样。日内支持可以将详细响应扩展到活动的 1 分钟、5 分钟和 15 分钟。“外部文档”： { “description”： “完整文档”， “url”： “https://dev.fitbit.com/build/reference/web-api/intraday/” }， { “name”： “活动时间序列”， “description”： “活动时间序列端点用于查询 Fitbit 用户在一段时间内的活动数据，可以通过指定日期和时间段或日期范围来实现。” “externalDocs”： { “description”： “full documentation”， “url”： “https://dev.fitbit.com/build/reference/web-api/activity-timeseries/” } }， { “name”： “授权”， “description”： “授权端点允许应用为想要与指定应用共享数据的 Fitbit 用户接入。应用程序可以为新用户启动同意流程，获取访问令牌和刷新令牌，验证令牌，并撤销对用户的同意。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/authorization/“ }， { ”name“： ”Body“， ”description“： ”Body“， ”description“： ”Body 端点用于查询和修改用户的体脂和体重数据。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： “https://dev.fitbit。com/build/reference/web-api/body/“ } }， { ”name“： ”身体时间序列“， ”description“：”身体时间序列端点用于查询一段时间内的体脂和体重数据，可指定日期和时间段或日期范围。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/body-timeseries/“ } }， { ”name“： ”呼吸频率“， ”description“：”呼吸频率或呼吸频率是你平均水平的测量夜间每分钟呼吸数。“， ”externalDocs“： { ”描述“：”完整文档“， ”URL“： ”https://dev.fitbit.com/build/reference/web-api/breathing-rate/“ }， { ”姓名“： ”日内呼吸频率“， ”描述“： ”日内呼吸速率终点返回全天的平均呼吸频率，并按睡眠阶段分类你的呼吸频率。“， ”externalDocs“： { ”描述“：”完整文档“， ”网址“：”https://dev.fitbit.com/build/reference/web-api/intraday/“ }， { ”名称“： “心肺功能评分（VO2 Max）”、“描述”：“心肺功能评分（也称为 VO2 Max）端点用于查询用户在运动期间心脏、肺和肌肉有效利用氧气的最大或最佳速率。”，“外部文档”：{ “描述”：“完整文档”，“网址”：“https://dev.fitbit.com/build/reference/web-api/cardio-fitness-score/” } }，{ “名称”：“设备”，“描述”：“设备端点显示与用户账户。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/devices/“ } }， { ”姓名“： ”心电图“， ”描述“：”心电图（也称为 ECG）端点用于查询用户的设备内心电图读数。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/electrocardiogram/“ }， { ”name“： ”好友“， ”description“： ”好友端点显示指定用户好友信息及好友排行榜信息。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/friends/“ } }， { ”name“： ”心率日内时间序列“， ”description“： ”心率日内时间序列“， ”description“： ”心率日内时间”系列检索特定日期或 24 小时内的心率数据。日内支持可以将详细响应扩展至心率的 1 秒、1 分钟、5 分钟或 15 分钟。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/intraday/“ }， { ”name“： ”心率时间序列“， ”description“： ”心率时间序列端点用于查询用户心率数据。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： “https://dev.fitbit.com/build/reference/web-api/heartrate-timeseries/” } }， { “name”： “心率变异性”， “description”： “心率变异性（HRV）端点用于查询用户的心率变异性数据。”， “externalDocs”： { “description”： “完整文档”， “url”： “https://dev.fitbit.com/build/reference/web-api/heartrate-variability/” }， { “name”： “日内心率变异性”， “description”： “心率变异日内终点返回 HRV 不同时间的速率，并返回给定测量的连续差分（rmssd）、低频（LF）、高频（HF）和覆盖数据的均方根。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/intraday/“ } }， { ”name“：”不规则节奏通知“，”description“：”不规则节奏通知（也称为 IRN）端点用于查询用户对 IRN 功能的参与情况及收到的警报。IRN API 仅供科研或试验用途，不适用于临床或诊断目的。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/irregular-rhythm-notifications/“ }， { ”name“： ”营养“， ”description“： ”营养端点用于查询和修改食物和水数据。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： “https://dev.fitbit.com/build/reference/web-api/nutrition/” } }， { “name”： “营养时间序列”， “description”： “营养时间序列端点用于查询与食物和水相关的数据，时间段内可指定日期和时间段，或日期范围。”， “externalDocs”： { “description”： “完整文档”， “url”： “https://dev.fitbit.com/build/reference/web-api/nutrition-timeseries/” } }， { “name”： “睡眠”， “description”： “睡眠端点用于查询和修改用户的一般睡眠数据。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/sleep/“ } }， { ”name“： ”SpO2“， ”描述“：”SpO2（氧饱和度）是测量你的血氧水平。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/spo2/“ }， { ”name“： ”SpO2 日内“， ”description“： ”SpO2 日内终点返回 SpO2”这些数值基于 5 分钟指数移动平均线计算。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/intraday/“ } }， { ”name“： ”订阅“， ”description“： ”订阅端点允许应用程序请求通知用户的特定数据集合。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/subscription/“ }， { ”name“： ”温度“， ”description“：”温度端点用于查询用户手动记录的核心温度数据，或设备在用户睡眠时记录的皮肤温度。“， ”externalDocs“： { ”description“： ”完整文档“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/temperature/“ }， { ”name“： ”User“， ”description“： ”用户端点显示用户个人资料信息、地区位置及语言设置，以及收集的徽章信息“， ”externalDocs“： { ”description“： ”fulldocumentation“， ”url“： ”https://dev.fitbit.com/build/reference/web-api/user/“ } ]， ”schemes“： [ ”https“ ]， ”paths“： { ”/oauth2/token“： { ”post“： { ”tags“： [ ”Authorization“ ]， ”summary“： ”获取 OAuth 2 访问令牌“， ”description“： ”获取 OAuth 2 访问令牌。“， ”operationId“： ”oauthToken“， ”produces“： [ ”application/json“ ]， ”parameters“： [ { ”name“： ”Authorization“， ”in“： ”header“， ”description“： ”授权头必须设置为'Basic'，后面是空格，然后是 Base64”用冒号编码的客户端 ID 和 secret 字符串。例如，'Basic Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ='。Base64 编码字符串“Y2xpZW50X2lkOmNsaWVudCBzZWNyZXQ=”被解码为“client_id：client secret”。“， ”类型“： ”字符串“ }， { ”name“： ”code“， ”in“： ”query“， ”description“： ”授权码作为 URI 参数在重定向中接收。使用授权码流程时为必需。“， ”required“： false， ”type“： ”string“ }， { ”name“： ”client_id“， ”in“： ”query“， ”description“：”这是你 dev.fitbit.com 设置中的 Fitbit API 应用 ID。“， ”required“： true， ”type“： ”string“ }， { ”name“： ”expires_in“， ”in“： ”query“， ”description“：”指定期望的访问令牌寿命。默认为 28800，持续 8 小时。另一个有效值是 3600，持续 1 小时。“，”required“：false，”type“：”string“ }，{ ”name“：”grant_type“，”in“：”query“，”description“：”授权授予类型。有效的值有 'authorization_code' 和 'refresh_token'.“， ”required“： true， ”type“： ”string“ }， { ”name“： ”redirect_uri“， ”in“： ”query“， ”description“： ”如果请求成功，访问令牌将发送到 Uri。如果在重定向到授权页面时指定，则必须填写。必须完全匹配。“， ”required“： false， ”type“： ”string“ }， { ”name“： ”refresh_token“， ”in“： ”query“， ”description“： ”Refresh token by Fitbit.如果“grant_type”是“refresh_token'，则为必需。”， “required”： false， “type”： “string” }， { “name”： “state”， “in”： “query”， “description”： “如果在授权页面的重定向 uri 中指定，则为必需。”必须完全匹配。“， ”required“： false， ”type“： ”string“ } ]， ”responses“： { ”200“： { ”description“：”一个成功的请求。“}， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”认证因客户端凭证无效而失败。“ }， ”409“： { ”description“：”由于多个客户端尝试刷新同一访问令牌，导致请求冲突。“ } } }}, "/1.1/oauth2/introspect“： { ”post“： { ”tags“： [ ”授权“ ]， ”summary“： ”检索 OAuth 2.0 令牌的活跃状态“， ”description“： ”检索 OAuth 2.0 令牌的激活状态。其后应有 https://tools.ietf.org/html/rfc7662.“， ”operationId“： ”introspect“， ”consumes“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”token“， ”in“： ”formData“， ”description“： ”OAuth 2.0 令牌用于检索状态“， ”required“： true， ”type“： ”string“ }， ”responses“： { ”200“： { ”description“：”成功请求。“}， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”认证是因客户端凭证无效而未成功。“ }， ”409“： { ”description“： ”由于多个客户端导致请求冲突“ } }， ”security“： [ { ”oauth2“： [] } } }， ”/oauth2/revoke“： { ”post“： { ”tags“： [ ”授权“ ]， ”summary“： ”撤销访问令牌或刷新令牌的同意“， ”description“： ”撤销访问令牌或刷新令牌的同意“， ”operationId“： ”revoke“， ”consumes“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”token“， ”in“： ”formData“， “描述”：“欲撤销的访问令牌或刷新令牌”，“required”：true，“类型”：“string” } ]，“响应”： { “200”： { “description”：“一个成功的请求。”}，“400”： { “description”：“请求语法不当或本质上无法满足。”} }， “security”： [ { “oauth2”： [] } } }， “/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}.json”： { “get”： { “tags”： [ “活跃区域分钟数日内时间序列” ]， “summary”： “按日期获取 AZM 日内时间”， “描述”：“通过指定日期和/或时间范围，返回 24 小时内活跃区分钟的盘中数据。“， ”operationId“： ”getAZMByDateIntraday“， ”produces“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”date“， ”in“： ”path“， ”description“： ”格式为 yyyy-MM-dd 或今天“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”detail-level“， ”in“： ”path“， ”description“： ”data“返回的详细信息。**支持：** 1 分钟 |5 分钟 |15min“， ”required“： true， ”type“： ”string“， ”enum“： [ ”1min“， ”5min“， ”15min“ ] }， ”responses“： { ”200“： { ”description“： ”成功的请求。“ }， ”400“： { ”description“： ”请求语法错误或本质上无法满足。“}， ”401“： { ”description“： ”请求需要用户认证。“ }， ”403“： { ”description“： ”API 客户端未获 Fitbit 授权访问请求资源。“ } }， ”安全性“： [ { ”oauth2“： [ ”activity“ ] } } }， “/1/user/-/activities/active-zone-minutes/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json”： { “get”： { “标签”： [ “活跃区域分钟日内时间序列” ]， “summary”： “按日期获取 AZM 日内数据”， “description”： “通过指定日期和/或时间范围返回 24 小时内活跃区域分钟日内数据。”， “operationId”： “getAZMByDateTimeSeriesIntraday”， “produces”： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “date”， “in”： “路径”、“描述”：“格式为 yyyy-MM-dd 或今天的日期”、“required”：true、“类型”：“字符串”、“格式”：“日期”}、{ “name”：“detail-level”， “in”：“路径”， “description”：“数据将返回的详细信息。**支持：** 1 分钟 |5 分钟 |15min“， ”required“： true， ”type“： ”string“， ”enum“： [ ”1min“， ”5min“， ”15min“ ] }， { ”name“： ”start-time“， ”in“： ”path“， ”description“： ”HH：mm 格式中的周期开始。”“， ”required“： true， ”type“： ”string“ }， { ”name“： ”end-time“， ”in“： ”path“， ”description“：”格式为 HH：mm.的周期结束“， ”required“： true， ”type“： ”string“ } ]， ”responses“： { ”200“： { ”description“：”一个成功的请求。“}， ”400“： { ”description“：”请求语法不好或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”403“： { ”description“：”API 客户端未获 Fitbit 授权访问请求资源。“ }}， “security”： [ { “oauth2”： [ “activity” ] } } }， “/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/{detail-level}.json”： { “get”： { “tags”： [ “活跃区域分钟数日内时间序列” ]， “summary”： “按区间获取 AZM 日内数据”， “description”：“通过指定日期范围和/或时间范围返回 24 小时内活跃区域分钟日内数据。”， “operationId”： “getAZMByIntervalIntraday”， “produces”： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “开始日期”， “in”： “path”、“description”：“格式 yyyy-MM-dd 或今天的日期”、“required”： true， “type”： “string”， “format”： “date” }， { “name”： “end-date”， “in”： “path”， “description”：“格式 yyy-MM-dd 中的日期或今天”， “required”： true， “type”： “string”， “format”： “date” }， { “name”： “detail-level”， “in”： “path”， “description”：“数据将返回的详细信息。”**支持：** 1 分钟 |5 分钟 |15min“， ”required“： true， ”type“： ”string“， ”enum“： [ ”1min“， ”5min“， ”15min“ ] }， ”responses“： { ”200“： { ”description“：”一个成功的请求。“}， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“ }， ”403“： { ”description“：”API 客户端未获 Fitbit 授权访问请求的资源。“ } }， ”安全性“： [ { ”oauth2“： [ ”活动“ ] } } }， ”/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}/time/{start-time}/{end-time}.json“： { ”get“： { ”标签“： [ ”活跃区域分钟 日内时间序列“ ]， ”summary“： ”按区间获取 AZM 日内数据“， ”description“： ”通过指定日期范围和/或返回 24 小时内活跃区域分钟日内数据”时间范围.“， ”operationId“： ”getAZMByIntervalTimeSeriesIntraday“， ”produces“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”start-date“， ”in“： ”path“， ”description“： ”格式为 yyyy-MM-dd 或今天“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”end-date“， ”in“： ”path“， ”description“： ”格式为 yyyy-MM-dd 格式中的日期或今天“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”detail-level“， ”in“： ”path“， ”description“： “数据将被归还的细节。**支持：** 1 分钟 |5 分钟 |15min“， ”required“： true， ”type“： ”string“， ”enum“： [ ”1min“， ”5min“， ”15min“ ] }， { ”name“： ”start-time“， ”in“： ”path“， ”description“： ”HH：mm.格式中的句点开始“， ”required“： true， ”type“： ”string“ }， { ”name“： ”end-time“， ”in“： ”path“， ”description“： ”HH：mm.“， ”required“： true， ”type“： ”string“ } ]， ”responses“： { ”200“： { ”description“： ”A successful request.“ }， ”400“： { ”description“：”请求语法错误或本质上是无法满足。“ }， ”401“： { ”描述“： ”请求需要用户认证。“ }， ”403“： { ”描述“： ”API 客户端未获 Fitbit 授权访问请求资源。“ } }， ”security“： [ { ”oauth2“： [ ”activity“ ] } } }， ”/1/user/-/activities/active-zone-minutes/date/{date}/{period}.json“： { ”get“： { ”tags“： [ ”活跃区域分钟时间序列“ ]， ”summary“： ”按日期获取 AZM 时间序列“， ”description“：”通过指定日期和时间段返回一段时间内的每日摘要值。“， ”operationId“： ”getAZMTimeSeriesByDate“， ”produces“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”date“， ”in“： ”path“， ”description“： ”The 格式为 yyyy-MM-dd 或 today“的日期，”required“： true，”type“： ”string“，”format“： ”date“ }， { ”name“： ”period“， ”in“： ”path“， ”description“：”数据将返回的范围。**支持：** 1d |7d |30d |1w |1m |3m |6m |1y“， ”required“： true， ”type“： ”string“， ”enum“： [ ”1d“， ”7d“， ”30d“， ”1w“， ”1m“， ”3m“， ”6m“， ”1y“ ] }， ”responses“： { ”200“： { ”description“：”一个成功的请求。“}， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”403“： { ”description“： ”API 客户端未被 Fitbit 授权访问请求的资源。“} }， “安全性”： [ { “OUu2”： [ “活动” ] } } }， “/1/user/-/activities/active-zone-minutes/date/{start-date}/{end-date}.json”： { “get”： { “标签”： [ “活跃区分钟时间序列” ]， “summary”： “按区间获取 AZM 时间序列”， “description”： “通过指定日期范围返回区间内的每日摘要值。“， ”operationId“： ”getAZMTimeSeriesByInterval“， ”produces“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”start-date“， ”in“： ”path“， ”description“： ”格式 yyyy-MM-dd 或今天“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”end-date“， ”in“： ”path“， ”description“： ”yyyy-MM-dd 格式中的日期“或”今天“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， ”responses“： { ”200“： { ”description“： ”成功请求。“}， ”400“： { “描述”：“请求语法错误或本质上无法满足。”}， “401”： { “描述”： “请求需要用户认证。” }， “403”： { “描述”： “API 客户端未获 Fitbit 授权访问请求资源。”} }， “安全性”： [ { “oauth2”： [ “活动” ] } }， “/1/user/-/activities/date/{date}.json”： { “get”： { “标签”： [ “活动” ]， “摘要”： “按日期获取活动摘要”， “description”： “检索用户的摘要和列表某一天的活动和活动日志条目。“， ”operationId“： ”getActivitiesByDate“， ”produces“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”date“， ”in“： ”path“， ”description“： ”description“： ”格式为 yyyy-MM-dd“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， ”responses“： { ”200“： { ”description“： ”成功请求。“}， ”400“： { ”description“： ”请求语法不佳或本质上无法满足。“}， ”401“： { ”description“： ”the 请求需要用户认证。“ }， ”409“： { ”description“：”如果给定用户已经用不同的订阅 ID 订阅了该流，或者该订阅 ID 已被用来识别另一个流的订阅，则返回。“ } }， ”安全性“： [ { ”OUus2“： [ ”活动“、”心率“、”位置“、”营养“、”个人资料“、”设置“、”睡眠“、”社交“、”体重“ ] } ] } }， ”/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}.json“： { ”get“： { ”标签“： [ ”活动时间序列“ ]， ”summary“： ”按日期范围获取活动资源“， ”description“：”返回指定范围内的活动时间序列数据，针对特定资源。“， ”operationId“： ”getActivitiesResourceByDateRange“， ”produces“： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “resource-path”， “in”： “path”， “description”： “资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”caloriesBMR“， ”steps“， ”distance“， ”floors“， ”elevation“， ”minutesSedentary“， ”minutesLightActive“， ”minutesLightActive“， ”minutesFairlyActive“， ”minutesVeryActive“， ”activityCalories“ ]， ”default“： ”steps“ }， { ”name“： ”base-date“， ”in“： ”path“， ”description“：”范围起始日期格式为 yyyyy-MM-dd 或 today.“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { “name”： “结束日期”， “in”： “path”， “description”： “该范围的结束日期。”， “required”： true， “type”： “string”， “format”： “date” }， “responses”： { “200”： { “description”：“一个成功的请求。”}， “400”： { “description”：“请求语法错误或本质上无法满足。”}， “401”： { “description”：“请求需要用户认证。”}， “409”： { “description”：“如果给定用户已经用不同的订阅 ID 订阅了该流，则返回， 或者如果给定的订阅 ID 已经被用来识别另一个流的订阅。“ } }， ”安全性“： [ { ”oauth2“： [ ”活动“、”心率“、”位置“、”营养“、”个人资料“、”设置“、”睡眠“、”社交“、”体重“ ] } ] } }， ”/1/user/-/activities/tracker/{resource-path}/date/{base-date}/{end-date}.json“： { ”get“： { ”标签“： [ ”活动时间序列“ ]， ”summary“： ”按日期范围 时间序列获取活动追踪器资源“， ”description“： ”返回指定资源范围内的时间序列数据。“， ”operationId“： ”getActivitiesTrackerResourceByDateRange“， “产生”： [ “application/x-www-form-urlencoded” ]， “参数”： [ { “名称”： “资源路径”， “in”： “路径”， “description”： “资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”caloriesBMR“， ”steps“， ”distance“， ”floors“， ”elevation“， ”minutesSedentary“， ”minutesLightActive“， ”minutesLightActive“， ”minutesFairlyActive“， ”minutesVeryActive“， ”activityCalories“ ]， ”default“： ”steps“ }， { ”name“： ”base-date“， ”in“： ”path“， ”description“：”范围起始日期格式为 yyyyy-MM-dd 或 today.“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { “name”： “结束日期”， “in”： “path”， “description”： “该范围的结束日期。”， “required”： true， “type”： “string”， “format”： “date” }， “responses”： { “200”： { “description”：“一个成功的请求。”}， “400”： { “description”：“请求语法错误或本质上无法满足。”}， “401”： { “description”：“请求需要用户认证。”}， “409”： { “description”：“如果给定用户已经用不同的订阅 ID 订阅了该流，则返回， 或者如果给定的订阅 ID 已经被用来识别另一个流的订阅。“ } }， ”安全性“： [ { ”oauth2“： [ ”活动“、”心率“、”位置“、”营养“、”个人资料“、”设置“、”睡眠“、”社交“、”体重“ ] } ] }，

        "/1/user/-/activities/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesResourceByDatePeriod",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
“/1/user/-/activities/{resource-path}/date/{date}/{period}.json”： { “get”： { “标签”： [ “活动时间序列” ]， “summary”： “获取活动时间序列”， “description”： “返回指定范围内的指定资源时间序列数据，格式为单位系统中对应提供的 Accept-Language 头。”， “operationId”： “getActivitiesResourceByDatePeriod”， “produces”： [ “application/x-www-form-urlencoded” ]，

                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "caloriesBMR",
                        "steps",
                        "distance",
                        "floors",
                        "elevation",
                        "minutesSedentary",
                        "minutesLightlyActive",
                        "minutesFairlyActive",
                        "minutesVeryActive",
                        "activityCalories"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
“参数”： [ { “name”： “resource-path”， “in”： “path”， “description”： “资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”caloriesBMR“， ”steps“， ”distance“， ”floors“， ”elevation“， ”minutesSedentary“， ”minutesLightLightActive“， ”minutesFairlyActive“， ”minutesVeryActive“， ”activityCalories“ ]， ”default“： ”steps“ }， { ”name“： ”date“， ”in“： ”path“， ”description“：”格式 yyyy-MM-dd 或今天指定期间的结束日期。“， ”required“： true， ”type“： ”string“， ”format“： “date” }， { “name”： “period”， “in”： “path”， “description”： “数据将返回的范围。”选项有：1d、7d、30d、1w、1m、3m、6m、1y 或 max.“，”required“：true，”type“：”string“} ]，”responses“：{ ”200“： { ”description“：”A successful request.“ }， ”400“： { ”description“：”请求语法不好或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”409“： { ”description“：”如果该用户已经用不同的订阅 ID 订阅了该流，则返回， 或者，如果给定的订阅 ID 已经被用来识别另一个流的订阅。“ }}， “安全性”： [ { “oauth2”： [ “活动”、“心率”、“位置”、“营养”、“个人资料”、“设置”、“睡眠”、“社交”、“体重” ] } ] }，

        "/1/user/-/activities/tracker/{resource-path}/date/{date}/{period}.json": {
            "get": {
                "tags": [
                    "Activity Time Series"
                ],
                "summary": "Get Activity Time Series",
                "description": "Returns time series data in the specified range for a given resource in the format requested using units in the unit system that corresponds to the Accept-Language header provided.",
                "operationId": "getActivitiesTrackerResourceByDatePeriod",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
“/1/user/-/activities/tracker/{resource-path}/date/{date}/{period}.json”： { “get”： { “标签”： [ “活动时间序列” ]， “summary”： “获取活动时间序列”， “description”： “返回指定范围内的指定资源时间序列数据，格式为单位系统中对应 Accept-Language 头的单位。”， “operationId”： “getActivitiesTrackerResourceByDatePeriod”， “produces”： [ “application/x-www-form-urlencoded” ]，

                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "caloriesBMR",
                        "steps",
                        "distance",
                        "floors",
                        "elevation",
                        "minutesSedentary",
                        "minutesLightlyActive",
                        "minutesFairlyActive",
                        "minutesVeryActive",
                        "activityCalories"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The end date of the period specified in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "The range for which data will be returned. Options are 1d, 7d, 30d, 1w, 1m, 3m, 6m, 1y, or max.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
“参数”： [ { “name”： “resource-path”， “in”： “path”， “description”： “资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”caloriesBMR“， ”steps“， ”distance“， ”floors“， ”elevation“， ”minutesSedentary“， ”minutesLightLightActive“， ”minutesFairlyActive“， ”minutesVeryActive“， ”activityCalories“ ]， ”default“： ”steps“ }， { ”name“： ”date“， ”in“： ”path“， ”description“：”格式 yyyy-MM-dd 或今天指定期间的结束日期。“， ”required“： true， ”type“： ”string“， ”format“： “date” }， { “name”： “period”， “in”： “path”， “description”： “数据将返回的范围。”选项有：1d、7d、30d、1w、1m、3m、6m、1y 或 max.“，”required“：true，”type“：”string“} ]，”responses“：{ ”200“： { ”description“：”A successful request.“ }， ”400“： { ”description“：”请求语法不好或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”409“： { ”description“：”如果该用户已经用不同的订阅 ID 订阅了该流，则返回， 或者，如果给定的订阅 ID 已经被用来识别另一个流的订阅。“ }}， “安全性”： [ { “oauth2”： [ “活动”、“心率”、“位置”、“营养”、“个人资料”、“设置”、“睡眠”、“社交”、“体重” ] } ] }，

        "/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}/{detail-level}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Activity Intraday Time Series",
                "description": "Returns the Activity Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateRangeIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                    "name": "resource-path",
                    "in": "path",
                    "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                    "required": true,
                    "type": "string",
                    "enum": [
                      "calories",
                      "steps",
                      "distance",
                      "floors",
                      "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "base-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min. Optional.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
 “/1/user/-/activities/{resource-path}/date/{base-date}/{end-date}/{detail-level}.json”： { “get”： { “tags”： [ “活动日内时间序列” ]， “summary”： “获取活动日内时间序列”， “description”： “返回指定资源的活动日内时间序列，格式为请求。”， “operationId”： “getActivitiesResourceByDateRangeIntraday”， “produces”： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “resource-path”， “in”： “path”， “description”： “the 资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”steps“， ”distance“， ”floors“， ”elevation“ ]， ”default“： ”steps“ }， { ”name“： ”base-date“， ”in“： ”path“， ”description“：”格式为 yyyy-MM-dd 格式的日期或今天。“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”结束日期“， ”in“： ”path“， ”description“：”格式 yyyy-MM-dd 中的日期或今天。“， “required”： true， “type”： “string”， “format”： “date” }， { “name”： “detail-level”， “in”： “path”， “description”： “需要包含的数据点数量。”可选 1 分钟或 15 分钟。“， ”required“： true， ”type“： ”string“， ”default“： ”1min“ }， ”responses“： { ”200“： { ”description“：”A successful request.“ }， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”409“： { ”description“：”如果给定用户已经用不同的订阅 ID 订阅了该流，则返回， 或者如果给定的订阅 ID 已经被用来识别另一个流的订阅。“ } }， ”安全性“： [ { ”oauth2“： [ ”活动“、”心率“、”位置“、”营养“、”个人资料“、”设置“、”睡眠“、”社交“、”体重“ ] } ] }，

        "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                        "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min. Optional.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
“/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}.json”： { “get”： { “tags”： [ “活动日内时间序列” ]， “summary”： “获取日内时间序列”， “description”： “返回指定资源的日间时间序列，格式为请求。”， “operationId”： “getActivitiesResourceByDateIntraday”， “produces”： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “resource-path”， “in”： “path”， “description”： “资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”steps“， ”distance“， ”floors“， ”elevation“ ]， ”default“： ”steps“ }， { ”name“： ”date“， ”in“： ”path“， ”description“：”格式为 yyyy-MM-dd 或今天的日期。“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”detail-level“， ”in“： ”path“， ”description“：”包含的数据点数量。”可选 1 分钟或 15 分钟。“， ”required“： true， ”type“： ”string“， ”default“： ”1min“ }， ”responses“： { ”200“： { ”description“：”A successful request.“ }， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”409“： { ”description“：”如果给定用户已经用不同的订阅 ID 订阅了该流，则返回， 或者，如果给定的订阅 ID 已经被用来识别另一个流的订阅。“ }}， “安全性”： [ { “oauth2”： [ “活动”、“心率”、“位置”、“营养”、“个人资料”、“设置”、“睡眠”、“社交”、“体重” ] } ] }，

        "/1/user/-/activities/{resource-path}/date/{date}/{end-date}/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Activity Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateRangeTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "end-date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
 “/1/user/-/activities/{resource-path}/date/{end-date}/{detail-level}/time/{start-time}/{end-time}.json”： { “get”： { “tags”： [ “活动日内时间序列” ]， “summary”： “获取活动日内时间序列”， “description”： “返回指定资源的日内时间序列，格式为请求。”， “operationId”： “getActivitiesResourceByDateRangeTimeSeriesIntraday”， “produces”： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “resource-path”， “in”： “path”， “描述”：“资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”steps“， ”distance“， ”floors“， ”elevation“ ]， ”default“： ”steps“ }， { ”name“： ”date“， ”in“： ”path“， ”description“： ”格式为 yyyy-MM-dd 格式的日期或今天。“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”结束日期“， ”in“： ”path“， ”description“： ”格式为 yyyy-MM-dd 或今天的日期。“， “required”： true， “type”： “string”， “format”： “date” }， { “name”： “detail-level”， “in”： “path”， “description”： “需要包含的数据点数量。”“要么 1 分钟，要么 15 分钟。”，“要求”：true，“类型”：“字符串”，“默认”：“1 分钟”}，{ “name”：“开始时间”，“in”： “path”，“description”：“HH：mm.格式中的周期开始”，“required”： true，“type”： “string” }， { “name”： “结束时间”， “in”： “path”， “description”：“格式为 HH：mm.”， “required”： true， “type”： “string” } ]， “responses”： { “200”： { “description”：“成功请求。”}， “400”： { “description”： “该请求语法不好，或者本质上无法满足。”}， “401”： { “description”： “请求需要用户认证。“ }， ”409“： { ”description“：”如果给定用户已经用不同的订阅 ID 订阅了该流，或者该订阅 ID 已被用来识别另一个流的订阅，则返回。“ } }， ”安全性“： [ { ”oauth2“： [ ”活动“、”心率“、”位置“、”营养“、”个人资料“、”设置“、”睡眠“、”社交“、”体重“ ] } ] }，

        "/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json": {
            "get": {
                "tags": [
                    "Activity Intraday Time Series"
                ],
                "summary": "Get Intraday Time Series",
                "description": "Returns the Intraday Time Series for a given resource in the format requested.",
                "operationId": "getActivitiesResourceByDateTimeSeriesIntraday",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                      "name": "resource-path",
                      "in": "path",
                      "description": "The resource-path; see options in the Resource Path Options section in the full documentation.",
                      "required": true,
                      "type": "string",
                      "enum": [
                        "calories",
                        "steps",
                        "distance",
                        "floors",
                        "elevation"
                      ],
                      "default": "steps"
                    },
                    {
                        "name": "date",
                        "in": "path",
                        "description": "The date in the format yyyy-MM-dd or today.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "detail-level",
                        "in": "path",
                        "description": "Number of data points to include. Either 1min or 15min.",
                        "required": true,
                        "type": "string",
                        "default": "1min"
                    },
                    {
                        "name": "start-time",
                        "in": "path",
                        "description": "The start of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end-time",
                        "in": "path",
                        "description": "The end of the period in the format HH:mm.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            }
        },
        "/1/user/-/activities.json": {
            "post": {
                "tags": [
                    "Activity"
                ],
                "summary": "Log Activity",
                "description": "The Log Activity endpoint creates log entry for an activity or user's private custom activity using units in the unit system which corresponds to the Accept-Language header provided (or using optional custom distanceUnit) and get a response in the format requested.",
                "operationId": "addActivitiesLog",
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "query",
                        "description": "The ID of the activity, directory activity or intensity level activity.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "activityName",
                        "in": "query",
                        "description": "Custom activity name. Either activityId or activityName must be provided.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "manualCalories",
                        "in": "query",
                        "description": "Calories burned that are manaully specified. Required with activityName must be provided.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Activity start time. Hours and minutes in the format HH:mm:ss.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "durationMillis",
                        "in": "query",
                        "description": "Duration in milliseconds.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Log entry date in the format yyyy-MM-dd.",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "description": "Distance is required for logging directory activity in the format X.XX and in the selected distanceUnit.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "Distance measurement unit. Steps units are available only for Walking (activityId=90013) and Running (activityId=90009) directory activities and their intensity levels.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                        },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                        },
                    "401": {
                        "description": "The request requires user authentication."
                        },
                    "409": {
                        "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "activity",
                            "heartrate",
                            "location",
                            "nutrition",
                            "profile",
                            "settings",
                            "sleep",
                            "social",
                            "weight"
                        ]
                    }
                ]
            },
            "get": {
            "tags": [
                "Activity"
                    ],
            "summary": "Get Lifetime Stats",
            "description": "Updates a user's daily activity goals and returns a response using units in the unit system which corresponds to the Accept-Language header provided.",
            "operationId": "getActivitiesLog",
            "produces": [
                "application/x-www-form-urlencoded"
                        ],
                "responses": {
                    "200": {
                        "description": "A successful request."
                          },
                    "400": {
                        "description": "The request had bad syntax or was inherently impossible to be satified."
                          },
                      "401": {
                          "description": "The request requires user authentication."
                            },
                      "409": {
                          "description": "Returned if the given user is already subscribed to this stream using a different subscription ID, OR if the given subscription ID is already used to identify a subscription to a different stream."
                            }
                          },
                            "security": [
                                {
                                    "oauth2": [
                                        "activity",
                                        "heartrate",
                                        "location",
                                        "nutrition",
                                        "profile",
                                        "settings",
                                        "sleep",
                                        "social",
                                        "weight"
                                    ]
                                }
                            ]
                        }
                    },
 “/1/user/-/activities/{resource-path}/date/{date}/1d/{detail-level}/time/{start-time}/{end-time}.json”： { “get”： { “tags”： [ “活动日内时间序列” ]， “summary”： “获取日内时间序列”， “description”： “返回指定资源的日间时间序列，格式为请求。”， “operationId”： “getActivitiesResourceByDateTimeSeriesIntraday”， “produces”： [ “application/x-www-form-urlencoded” ]， “parameters”： [ { “name”： “resource-path”， “in”： “path”， “description”： “the 资源路径;详见完整文档中资源路径选项部分的选项。“， ”required“： true， ”type“： ”string“， ”enum“： [ ”calories“， ”steps“， ”distance“， ”floors“， ”elevation“ ]， ”default“： ”steps“ }， { ”name“： ”date“， ”in“： ”path“， ”description“：”格式为 yyyy-MM-dd 或今天的日期。“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”detail-level“， ”in“： ”path“， ”description“：”包含的数据点数量。”“要么 1 分钟，要么 15 分钟。”，“要求”：true，“类型”：“字符串”，“默认”：“1 分钟”}，{ “name”：“开始时间”，“in”： “path”，“description”：“HH：mm.格式中的周期开始”，“required”： true，“type”： “string” }， { “name”： “结束时间”， “in”： “path”， “description”：“格式为 HH：mm.”， “required”： true， “type”： “string” } ]， “responses”： { “200”： { “description”：“成功请求。”}， “400”： { “description”： “请求语法不好或本质上无法满足。”}， “401”： { “description”： “请求需要用户认证。”}， “409”： { “description”： “如果给定用户已经用不同的订阅 ID 订阅了该流，或者该订阅 ID 已被用来识别另一流的订阅，则返回。“ } }， ”security“： [ { ”oauth2“： [ ”活动“、”心率“、”位置“、”营养“、”个人资料“、”设置“、”睡眠“、”社交“、”体重“ ] } ] } }， ”/1/user/-/activities.json“： { ”post“： { ”标签“： [ ”活动“ ]， ”摘要“： ”日志活动“， ”描述“： ”日志活动端点使用单位系统中的单位创建活动或用户的私人自定义活动日志条目，单位对应提供的 Accept-Language 头（或可选的自定义 distanceUnit），并获得响应请求的格式。“， ”operationId“： ”addActivitiesLog“， ”produces“： [ ”application/x-www-form-urlencoded“ ]， ”parameters“： [ { ”name“： ”activityId“， ”in“： ”query“， ”description“：”活动、目录活动或强度级别活动的 ID。“， ”required“： true， ”type“： ”整数“ }， { ”name“： ”activityName“， ”in“： ”query“， ”description“：”自定义活动名称。必须提供 activityID 或 activityName 之一。“、”required“： false， ”type“： ”string“ }， { ”name“： ”manualCalories“， ”in“： ”query“， ”description“： ”手动指定的消耗卡路里。”必须提供带活动名的必需品。“、”required“： true， ”type“： ”integer“ }， { ”name“： ”startTime“， ”in“： ”query“， ”description“： ”活动开始时间。小时和分钟格式为 HH：mm：ss.“， ”required“： true， ”type“： ”string“ }， { ”name“： ”durationMillis“， ”in“： ”query“， ”description“： ”durationMillis.“， ”required“： true， ”type“： ”in“： ”in“， ”in“： ”in“， ”in“， ”in“， ”description“： ”description“： ”日志输入日期格式为 yyyy-MM-dd.“， ”required“： true， ”type“： ”string“， ”format“： ”date“ }， { ”name“： ”distance“， ”in“： ”query“， ”description“：”距离是记录格式 X.XX 和所选目录活动的必要条件距离单位。“， ”required“： true， ”type“： ”integer“ }， { ”name“： ”distanceUnit“， ”in“： ”query“， ”description“： ”距离测量单位。步数单元仅适用于 Walking （activityId=90013） 和 Running（activityId=90009）目录活动及其强度级别。“， ”required“： false， ”type“： ”整数“ } ]， ”responses“： { ”200“： { ”description“：”一个成功的请求。“}， ”400“： { ”description“：”请求语法错误或本质上无法满足。“}， ”401“： { ”description“：”请求需要用户认证。“}， ”409“： { ”description“：”如果该用户已经订阅了该流使用不同的订阅 ID，或者如果该订阅 ID 已被用来标识另一个流的订阅。“ }}， “安全性”： [ { “oauth2”： [ “活动”、“心率”、“位置”、“营养”、“个人资料”、“设置”、“睡眠”、“社交”、“体重” ] } ] }， “get”： { “标签”： [ “活动” ]， “摘要”： “获取终身统计”， “描述”： “更新用户每日活动目标，并返回单位系统中的响应，对应于提供的接受语言头。”， “operationId”： “getActivitiesLog”， “produces”： [ “application/x-www-form-urlencoded” ]， “responses”： { “200”： { “描述”：“一个成功的请求。”}， “400”： { “描述”：“请求语法不好或本质上无法
[...]
